body{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #EDD998; 
    margin: 0;
    padding: 20px;
}
.container{
    display: flex; 
    flex-wrap:wrap;
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    background: #F8EED0;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.form-panel, .preview-panel {
  flex: 1 1 400px;
  border-radius: 15px;
  padding: 20px;
  background:#FDF8EC ;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.form-panel{
    flex: 2 1 600px;
}
.preview-panel{
    flex: 1 1 400px;
}
h1{
    text-align: center;
    color: #333;
    margin-bottom: 25px;
}
.form-group{
    flex: 1 1 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form-group label{
    margin-bottom: 6px; 
    font-weight: 400;
}
.form-group input, .form-group select, .form-group textarea {
  padding: 10px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid #ccc;
}
.form-group-fullWidth{
    flex: 1 1 100%; 
}
.form-group-fullWidth label{
    margin-bottom: 6px; 
    font-weight: 400;
}
.form-group-fullWidth input{
    width: 90%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 15px;;
}
#notes{
    height: 30px; 
}
#signature{
    height: 10px; 
}
.form-buttons{
    display: flex;
    margin-top: 20px;
    gap: 30px;
}
.button-form{
    background-color: #EDD998; 
    border: none;
    border-radius: 9px;
    padding: 7px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.5s;
}
.button-form:hover{
    background-color: #F8EED0;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
.button-form:active{
    background-color: #FDF8EC;
    transform: scale(0.90);
}
.preview-panel h2{
    text-align: center;
    color: #333;
    margin-bottom: 38px;
}
.preview-placeholder{
    text-align: center;
    color: #777;
    font-style: italic;
    padding: 20px;
    border: 2px dashed #D4A373;
    border-radius: 15px;
    background-color: #FDF8EC;
}

.receipt-entry {
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 15px;
  margin-bottom: 20px;
  background: #fffef9;
  position: relative;
}

.delete-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #ffdddd;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
}

